
body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(39, 37, 31);
    line-height: 1.7;
    height: fit-content;

}


.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: rgb(255, 199, 44);
    font-size: 75px;
    text-align: center;
}

p {
    margin: 0 0 1rem;
    color: rgb(255, 199, 44);
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


header {
    background: transparent;
    background-color: rgb(218 41 28);
    margin-bottom: 5%;
    background-image: url("https://i.pinimg.com/originals/e2/7b/26/e27b2605ddf376832f19c15b9b5374c4.jpg");
}
#logo {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    font-size: 1.7rem;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 4px;
}
.menu {
    background-color: transparent;
    border: 1px solid rgb(39, 37, 31);
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.menu .strip {
    display: block;
    height: 1px;
    background-color: rgb(39, 37, 31);
    margin: 4px 0;
}
header ul {
    list-style-type: none;
    color: rgb(218 41 28);
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

header ul li a {
    color: rgb(39, 37, 31);
    font-size: 20px;
    text-decoration: none;
    font-weight: 750;
}

Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgb(255, 199, 44);  
  padding-bottom: 250px;
}  
button {   
       background-color:rgb(39, 37, 31);   
       width: 100%;  
        color: rgb(255, 199, 44);   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid rgb(39, 37, 31);  
        margin: 0 auto;
        margin-top: 10%; 
        padding-bottom: 100px;
        background-image: url("https://img.wallpapersafari.com/desktop/800/450/85/72/sljC0t.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }   
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid rgb(255, 199, 44);   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
footer{
    margin-top: 10px;
}
footer ul{
    list-style-type: none;
    color: rgb(218 41 28);
}


footer ul li a{
    color: rgb(39, 37, 31);
    font-size: 20px;
    text-decoration: none;
    font-weight: 750;    color: rgb(39, 37, 31);
    font-size: 20px;
    text-decoration: none;
    font-weight: 750;
}

img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
.Deals{
    font-size: 15px;
    font-weight: 500;
    color: rgb(39, 37, 31);
}
.card {
    height: 400px;
    width: 100%;
    border: 3px solid rgb(39, 37, 31);  
    background-image: url("https://img.wallpapersafari.com/desktop/800/450/85/72/sljC0t.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-side {
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    visibility: visible;
}

.card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: inline-block;
}

.card:hover .card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

#lsOutput {
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
    color: black;
}
#outPutP {
    font-size: 32px;
    color: black;
}
