
body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(39, 37, 31);
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    background: transparent;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: rgb(218 41 28);
    text-align: center;
}

p {
    margin: 0 0 1rem;
}

.menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}
header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

#close-flyout {
    display: none;
}

header ul li a {
    color: rgb(39, 37, 31);
    font-size: 16px;
    text-decoration: none;
}

header ul.is-sticky li a {
    color: #000;
}
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
    background-image: url("https://image.freepik.com/free-vector/french-fries-pattern-background_43137-81.jpg");
}  
button {   
       background-color:rgb(39, 37, 31);   
       width: 100%;  
        color: rgb(255, 199, 44);   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid #f1f1f1;   
    }   
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid rgb(255, 199, 44);   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
        padding: 25px;   
        background-color: rgb(255, 199, 44);  
    }   